::-webkit-scrollbar {
  background-color: #3264f5;
}
::-webkit-scrollbar-thumb {
  background: #3264f5;
}
a:hover,
a:active {
  color: #000000;
}
.gradient-bg1,
.team-progress .progress-bar,
.team-box .overlay:before,
.cube-portfolio1 .cbp-l-grid-mosaic-flat .cbp-caption-activeWrap,
.overlay-two:before,
.price-two.hvr-gradient:hover,
.loader {
  background: #f5aa32;
  background: -moz-linear-gradient(left, #404246 2%, #ff8c00 82%);
  background: -webkit-linear-gradient(left, #de833d 2%, #000000 82%);
  background: linear-gradient(to right, #000000 2%, #d0772a 82%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@colorPrimary', endColorstr='@colorSecondary', GradientType=1);
}
.header-appear .navbar-top-default.navbar-gradient {
  background: #3264f5;
  background: -moz-linear-gradient(left, #ff8000 2%, #f59d32 82%);
  background: -webkit-linear-gradient(left, #4c5156 2%, #f5a132 82%);
  background: linear-gradient(to right, #4f4b4b 2%, #585b63 82%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@colorPrimary', endColorstr='@colorPrimary', GradientType=1);
}
/* text-color */
.main-color,
.cube-portfolio1 .cbp-l-filters-button .cbp-filter-item:hover {
  color: #3264f5;
}
.alt-color {
  color: #0080ff;
}
.third-color,
.header-appear .nav-box-round .navbar-nav .nav-link:hover,
.navbar.navbar-right .navbar-nav .nav-link.active,
.button-play:hover i,
.parallax-box:hover i {
  color: #00bcd4;
}
.gradient-text1,
.cube-portfolio1 .cbp-l-filters-button .cbp-filter-item.cbp-filter-item-active,
.blog-item-content h4 a:hover {
  background: #3264f5;
  background: -moz-linear-gradient(left, #f5be32 30%, #000000 70%);
  background: -webkit-linear-gradient(left, #f56d32 30%, #514f4d 70%);
  background: linear-gradient(to right, #f59a32 30%, #41464b 70%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@colorPrimary', endColorstr='@colorSecondary', GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn.btn-blue,
.side-right-social a,
.price-item .btn.btn-black:hover,
.price-item .btn.btn-black:focus {
  background: #00bcd4;
  border-color: #00bcd4;
}
.btn.btn-blue:hover,
.btn.btn-blue:focus {
  background: transparent !important;
  border-color: #ffffff;
  color: #ffffff !important;
}
.btn.btn-gradient,
.team-box-two .team-two-block::before,
.scroll-top-arrow,
.widget .search-btn {
  background-image: linear-gradient(to right, #f58032 0%, #5b5e61 51%, #f58732 100%);
}
.header-appear .nav-box-round .navbar-nav .nav-link.active,
.owl-dots .owl-dot::after,
.footer-social li a:hover {
  background-color: #00bcd4;
}
.nav-line .navbar-nav .nav-link:before,
.button-play,
.price-two.hvr-blue:hover,
.side-menu,
.error-text h2,
.blog-pagination li a:hover,
.blog-pagination li.active a,
.blog-pagination li a:focus,
.wexim .tp-bullet.selected .tp-bullet-inner {
  background: #d47f00;
}
.count-down-form .form-control:focus {
  border-bottom: 2px solid #00bcd4 !important;
}
.blog-tags li a:hover,
.blog-tags li a:focus {
  border: 1px solid #00bcd4;
  background-color: #00bcd4;
}
.price-item .btn.btn-black:hover,
.price-item .btn.btn-black:focus {
  background: #00bcd4 !important;
  border-color: #00bcd4;
}
 .price-two .btn.btn-blue:hover,.price-two .btn.btn-blue:focus {
  background: transparent !important;
  border-color: #ffffff !important;
  color: #ffffff !important;
}
